.defaultButton,
.zeroButton {
  background-color: rgb(90, 90, 90);
}

.defaultButton:hover,
.zeroButton:hover,
.darkButton:hover,
.orangeButton:hover {
  background-color: #eee !important;
  color: #1a1a1a;
}

.defaultButton:active,
.zeroButton:active,
.darkButton:active,
.orangeButton:active {
  transform: scale(0.95);
  transition: transfor 0.5s;
}

.zeroButton {
  grid-column: span 2;
}

.darkButton {
  background-color: rgb(57, 57, 57);
}

.orangeButton {
  background-color: rgb(220, 150, 20);
}
